html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #080710;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input,
button {
  font-family: inherit;
  border: none;
  outline: none;
}

.wrapper {
  width: 400px;
  position: relative;
}

.shape {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
}
.shape--one {
  background: linear-gradient(#0d47a1, #42a5f5);
  top: -80px;
  left: -80px;
}
.shape--tow {
  background: linear-gradient(#e65100, #ffa726);
  bottom: -90px;
  right: -60px;
}

.form {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  padding: 50px 35px 35px 35px;
  border: 2px solid rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.form__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}

.form__input-wrapper {
  margin-bottom: 26px;
}

.form__label {
  font-size: 16px;
}

.form__input {
  font-size: 14px;
  font-weight: 300;
  display: block;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.07);
  padding: 1 10px;
  width: 100%;
  margin-top: 8px;
  color: #fff;
  border-radius: 4px;
}

.form__input::placeholder {
  color: #e5e5e5;
}

.form__submit-btn {
  background-color: #fff;
  color: #080710;
  border-radius: 4px;
  text-align: center;
  padding: 15px 0;
  display: block;
  font-size: 18px;
  width: 100%;
  margin-top: 44px;
  font-weight: bold;
  transition: all ease 0.6s;
}

.form__submit-btn:hover{
  background-color:#66BB6A;
}
